<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-elementary-blue">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
